footer {
  background-color: $primary-clr;

  .footer {
    &__heading {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 22px;
    }
  }

  .container {
    max-width: 1254px;
    padding: 80px 15px;
    flex-wrap: wrap;
    justify-content: start;
    @include breakpoint("mobile-max") {
      justify-content: space-between;
    }
    gap: 24px;
    .footer-join {
      font-size: 16px;
      font-weight: 600;
      max-width: 400px;
      @include breakpoint("mobile-max") {
        max-width: max-content;
      }
      .footer__heading {
        width: 250px;
      }
      &-img {
        width: 192px;
        object-fit: contain;
        margin-bottom: 22.5px;
      }
      &-title {
        margin-bottom: 24px;
      }
      &-btn {
        padding: 19px 52px;
        border-radius: 28px;
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .footer-aboutUs-link-con {
        width: 180px;
        &__link-wrapper {
          
          &__link-item {
            color: rgb(200, 199, 204);
            font-style: 14px;
            font-weight: 400;
            line-height: 1 .44;
            width: max-content;
          }
        }
      } 
      .footer-aboutUs-touch {
        &-info {
          display: flex;
          justify-content: start;
          align-items: flex-start;
          cursor: pointer;
          margin-bottom: 8px;
          &__icon {
            height: 16px;
            width: 16px;
            
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        
            img {
              object-fit: contain;
            }
          }
          &__desc {
            font-size: 14px;
            font-weight: 400;
            color: rgb(200, 199, 204);
          }
        }
      }
    }
    .footer-follow{
        .footer__heading{
            margin-bottom: 12px;

        }
        &__icon-con{
            &-icon{
                margin-right: 24px;
            }
            margin-bottom: 37px;
        }
        .store{
            display: flex;
            flex-wrap: wrap;
            gap: 11px;
            img{
                margin-right: 11px;
                border-radius: 10px;
            }
        }
        
    }
  }



// footer{
//   padding: 56px 0 83px 0;
// }
// .wrapper{
// display: flex;
// flex-wrap: wrap;
// }

// .booklet{
//   width: 301px;
//   height: 200px;
//   background-color: red;
// }

// .quick-link{
//   width: 144px;
//   height: 200px;
//   background-color:blue;
// }

// .get-in{
//   width: 206px;
//   height: 200px;
//   background-color: palevioletred;
// }

// .follow-us{
//   width: 240px;
//   height: 200px;
//   background-color: red;
// }